* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;
  width: 100%;

  grid-template-areas:
"header header"
"nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content {
  grid-area: content;
  background-color: burlywood;
}

.header {
  grid-area: header;
  background-color: green;
}

.header img {
  width: 70px;
}

.nav {
  grid-area: nav;
  background-color: red;
  padding: 20px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.activeLink {
  color: gold;
}

.someFriends {
  display: flex;
  justify-content: space-between;
}

.someFriends div {
  text-align: center;
}

.content img {
  width: 100%;
}