.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogItem {
    margin-bottom: 10px;
}

.dialogLink {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.message {
    color: white;
}

.active {
    color: gold;
}

.userAva {
    width: 50px;
    border-radius: 30px;
    margin-right: 10px;
}