.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogItem {
    margin-bottom: 10px;
}

.dialogLink {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.message {
    display: grid;
    grid-template-columns: 60px 300px;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}

.message:nth-child(even) {
    justify-content: end;
}

.messagesBlock {
    display: grid;
}

.areaWrapper {
    margin-top: 20px;
}

.messageBtn {
    padding: 3px 5px;
}

.active {
    color: gold;
}

.userAva {
    width: 50px;
    border-radius: 30px;
    margin-right: 10px;
}